<h1>Wildlife Tracker</h1>

<ul>
  <% Specie.all.each do |specie| %>
    <li><a href="/species/<%=specie.id%>"><%= specie.name %></a></li>
  <% end %>
</ul>

<h2>Add Species</h2>

<form action="/species/" method="post">
  <label for="specie_name">Name</label>
  <input id="specie_name" name="specie[name]" type="text">
  <button>Add species</button>
</form>

<ul>
  <% Region.all.each do |region| %>
    <li><%= region.name %></a>
      <a href="/regions/<%= region.id %>"
           data-confirm="Are You Sure?"
           data-method="delete"
           rel="nofollow">DELETE</a>
    </li>
  <% end %>
</ul>


<h2>Add Region</h2>

<form action="/regions/" method="post">
  <label for="region_name">Name</label>
  <input id="region_name" name="region[name]" type="text">
  <button>Add region</button>
</form>

<h3>Sightings Report</h3>

<p>For which dates would you like to view sightings?</p>
<form action="/sightings" method="get">
  <label for="sightings_start_date">Start date</label>
  <input id="sightings_start_date" name="start_date" type="text">
  <label for="sightings_end_date">End date</label>
  <input id="sightings_end_date" name="end_date" type="text">
  <button>Run report</button>
</form>
